.main-nav--wrapper {
  flex: 2;
}
.main-nav--links {
  display: flex;
}

.main-nav--links .close-mobile-nav {
  display: none;
}

.nav-icon {
  margin-right: 15px;
}

.nav-icon img {
  transition: width 0.2s ease-in-out;
}

.hovering {
  border: 1px solid black;
}

.main-nav--text {
  font-family: var(--digital-font);
  font-size: 0.7em;
  display: flex;
  margin-top: 15px;
  padding-left: 30px;
}

.typing-text {
  animation: typing 1s steps(22);
  white-space: nowrap;
  overflow: hidden;
  padding-left: 5px;
}

.blinking-cursor {
  border-right: 3px solid;
  animation: blink 0.5s step-end infinite alternate;
  padding-left: 5px;
}

.nav-link-selected img {
  border: 1px black solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media only screen and (max-width: 768px) {
  .main-nav--wrapper {
    display: none;
  }
}

.nav-links-title {
  text-align: left;
  font-family: "MineCart";
  margin-bottom: 15px;
  padding-left: 30px;
  position: relative;
  color: black;
  font-size: 1em;
  letter-spacing: 0.5em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.nav-links-title::before {
  content: attr(data-text);
  padding-left: 28px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.nav-links-title::after {
  content: attr(data-text);
  padding-left: 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(90px, 9999px, 95px, 0);
    transform: skew(0.04deg);
  }
  5% {
    clip: rect(98px, 9999px, 3px, 0);
    transform: skew(0.88deg);
  }
  10% {
    clip: rect(95px, 9999px, 58px, 0);
    transform: skew(0.74deg);
  }
  15% {
    clip: rect(71px, 9999px, 69px, 0);
    transform: skew(0.59deg);
  }
  20% {
    clip: rect(8px, 9999px, 60px, 0);
    transform: skew(0.71deg);
  }
  25% {
    clip: rect(90px, 9999px, 92px, 0);
    transform: skew(0.86deg);
  }
  30% {
    clip: rect(68px, 9999px, 44px, 0);
    transform: skew(0.22deg);
  }
  35% {
    clip: rect(66px, 9999px, 85px, 0);
    transform: skew(0.69deg);
  }
  40% {
    clip: rect(71px, 9999px, 5px, 0);
    transform: skew(0.13deg);
  }
  45% {
    clip: rect(87px, 9999px, 60px, 0);
    transform: skew(0.9deg);
  }
  50% {
    clip: rect(65px, 9999px, 8px, 0);
    transform: skew(0.87deg);
  }
  55% {
    clip: rect(97px, 9999px, 11px, 0);
    transform: skew(0.22deg);
  }
  60% {
    clip: rect(59px, 9999px, 62px, 0);
    transform: skew(0.39deg);
  }
  65% {
    clip: rect(23px, 9999px, 89px, 0);
    transform: skew(0.67deg);
  }
  70% {
    clip: rect(1px, 9999px, 48px, 0);
    transform: skew(0.56deg);
  }
  75% {
    clip: rect(68px, 9999px, 18px, 0);
    transform: skew(0.98deg);
  }
  80% {
    clip: rect(49px, 9999px, 88px, 0);
    transform: skew(0.43deg);
  }
  85% {
    clip: rect(99px, 9999px, 7px, 0);
    transform: skew(0.92deg);
  }
  90% {
    clip: rect(76px, 9999px, 90px, 0);
    transform: skew(0.32deg);
  }
  95% {
    clip: rect(15px, 9999px, 31px, 0);
    transform: skew(0.91deg);
  }
  100% {
    clip: rect(47px, 9999px, 72px, 0);
    transform: skew(0.17deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(71px, 9999px, 56px, 0);
    transform: skew(0.05deg);
  }
  5% {
    clip: rect(34px, 9999px, 31px, 0);
    transform: skew(0.19deg);
  }
  10% {
    clip: rect(38px, 9999px, 59px, 0);
    transform: skew(0.12deg);
  }
  15% {
    clip: rect(91px, 9999px, 93px, 0);
    transform: skew(0.84deg);
  }
  20% {
    clip: rect(89px, 9999px, 23px, 0);
    transform: skew(0.24deg);
  }
  25% {
    clip: rect(71px, 9999px, 35px, 0);
    transform: skew(0.49deg);
  }
  30% {
    clip: rect(2px, 9999px, 38px, 0);
    transform: skew(0.91deg);
  }
  35% {
    clip: rect(7px, 9999px, 50px, 0);
    transform: skew(0.02deg);
  }
  40% {
    clip: rect(72px, 9999px, 33px, 0);
    transform: skew(0.44deg);
  }
  45% {
    clip: rect(26px, 9999px, 1px, 0);
    transform: skew(0.86deg);
  }
  50% {
    clip: rect(19px, 9999px, 18px, 0);
    transform: skew(0.3deg);
  }
  55% {
    clip: rect(21px, 9999px, 30px, 0);
    transform: skew(0.3deg);
  }
  60% {
    clip: rect(38px, 9999px, 71px, 0);
    transform: skew(0.63deg);
  }
  65% {
    clip: rect(64px, 9999px, 67px, 0);
    transform: skew(0.35deg);
  }
  70% {
    clip: rect(78px, 9999px, 70px, 0);
    transform: skew(0.99deg);
  }
  75% {
    clip: rect(15px, 9999px, 31px, 0);
    transform: skew(0.35deg);
  }
  80% {
    clip: rect(33px, 9999px, 10px, 0);
    transform: skew(0.46deg);
  }
  85% {
    clip: rect(2px, 9999px, 91px, 0);
    transform: skew(0.63deg);
  }
  90% {
    clip: rect(53px, 9999px, 41px, 0);
    transform: skew(0.01deg);
  }
  95% {
    clip: rect(93px, 9999px, 69px, 0);
    transform: skew(0.82deg);
  }
  100% {
    clip: rect(37px, 9999px, 11px, 0);
    transform: skew(0.56deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(5deg);
  }
  10% {
    transform: skew(-1deg);
  }
  20% {
    transform: skew(-1deg);
  }
  30% {
    transform: skew(0deg);
  }
  40% {
    transform: skew(5deg);
  }
  50% {
    transform: skew(-1deg);
  }
  60% {
    transform: skew(-2deg);
  }
  70% {
    transform: skew(-2deg);
  }
  80% {
    transform: skew(4deg);
  }
  90% {
    transform: skew(-3deg);
  }
  100% {
    transform: skew(0deg);
  }
}
